# Ignore everything
*

# Except:
!.gitignore


# Folders
!*/

# Visual Studio files
!*.sln
!*.v11.suo
!*.vcxproj*
!*.pro

# UML files
!*.moo

# Assets files
!*.png
!*.meta

# CPP files
!*.cpp
!*.h
!*.hpp
!*.hh

# C files
!*.c

# other legit files
!*.txt
!*.cmake

# Specific exceptions
CMakeCache.txt
CMakeFiles/
cmake_install.cmake